p.payment_module a.tpay {
    background: #fbfbfb none;
    padding: 15px 40px 15px 20px;
    font-weight: bold;
}

p.payment_module a.tpay img {
    margin-right: 10px;
    vertical-align: middle;
}

p.payment_module a.tpay:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777777;
}

p.payment_module a.tpay:hover {
    background-color: #f6f6f6;
}
