#contact .container {
  padding: 0;
}

#contact #content-wrapper {
  width: 100%;
  padding: 0;
}

#contact #content-wrapper .row {
  display: flex;
}

#contact #content-wrapper .section-email {
  width: 50%;
}

#contact #content-wrapper .section-img {
  width: 50%;
}

#contact #content-wrapper .section-img img {
  width: 100%;
}
