.top-menu . sub-menu{
	margin-left: 0;
	width: calc(40% - 30px)!important;
	min-width: calc(40% - 30px)!important;
	
}
.popover {
	left: auto;
}

.top-menu .sub-menu ul[data-depth="1"]>li {
	display:block!important;
	margin: 0 0.8rem!important;
	float: none!important;
}


#pc_results .content-container .img img {
    margin-top: 44px;
}

#cookieNoticeContent .closeButtonNormal{
background: #e91e63!important;
margin-left:8px!important;
}

#ets_blog_page .ets-blog-list .ets-blog-wrapper-content-main .blog_description{
	min-height:80px;
}

#pc_simpleUse .content-container .item p {
    font-size: 17px!important;
    line-height: 19px!important;
}