#header .header-top>.container {
    position: static;
}


.search-wrapper {
    position: absolute;
    transition: all ease .5s;
    width: 100%;
    left: 0;
    height: 60px;
    background-color: #fff;
    top: 30px;
    z-index: -1;

    @include md {
        top: 77px;
    }



        &.open {
            top: 105px;
            z-index: 0;

            @include md {
                top: 153px;
            }
        }
    

    form {
        height: 60px;
        @include container-width;
        margin: auto;
        padding: 0 15px;

        @include md {
            padding: 0;
        }

        button {
            position: absolute;
            height: 40px;
            right: 0;
            top:0;
            transform: translateX(-50%);
            border: none;

            &:focus, &:focus-visible {
                outline: none;
            }

            
        }
    }
}

#search_widget form i.clear {
    display: none !important;
}

#search_widget form input {
    padding-left: 15px;
}

#search_widget form i {
    position: static;
                padding: 0;
}

.ui-autocomplete {
    display: none !important;
}

.header-top .search-widgets form button[type="submit"] {
    top: 0;
    transform: translateY(0);
}