#pdceneozaufaneopiniepro {margin-bottom: 20px;}
#pdceneozaufaneopiniepro label b {font-weight: normal;}
#pdceneozaufaneopiniepro p.checkbox {margin-bottom: 10px}

#cart #pdceneozaufaneopiniepro {margin-top:20px;}
#left_column #ceneo_widget_embed * {text-align: center;}